{% extends "base.html" %}
{% load static %}

{% block page_content %} 

<div class="container">

<section class="hero-section">
    <h1>Art in your blood</h1>
    <p>Express yourself and get now your new custom tattoo</p>
    <a href="#" class="btn custom-btn">Buy now</a>
</section>    

<section class="doodles-section">

    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

</section>   

<section class="gallery-section">

    <img src="..." class="card-img-top" alt="...">
    <img src="..." class="card-img-top" alt="...">
    <img src="..." class="card-img-top" alt="...">

</section>    

<section class="map-section">

    

</section>    

</div>
{% endblock %} 