{% extends "base.html" %}
{% load static %}

{% block page_content %}
<section class="gallery-page container-xxl index-section">
    <h1 class="text-center mt-2">Gallery</h1>
    <p class="text-center mb-4">Those are my last works</p>

    <div class="gallery-grid">
        {% for image in page_obj %}
        <div class="gallery-item {% if image.height >  image.width%} height-span {% else %} width-span {% endif %}">
            <a href="{% url 'image' image.id %}" class="gallery-link">
                <img src="/media/{{ image.image }}" alt="{{ image.name }}" class="img-grid" />
                <div class="gallery-body">
                    <h5>{{ image.name }}</h5>
                    <p>{{ image.description }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

    {% include 'includes/pagination.html' %}
</section>
{% endblock %}