{% extends "base.html" %}
{% load static %}

{% block page_content %}
<section class="image-page container-xxl index-section">
    <h1 class="text-center mt-2">{{ image.name }}</h1>
    <p class="text-center mb-4">{{ image.description }}</p>


    <div class="img-container">
        <img src="/media/{{ image.image }}" alt="{{ image.name }}" class="img-full" />
    </div>

    {% if request.user.is_superuser %}
    <div class="editor-buttons w-100 py-2">
        <a class="delete-button btn btn-white border-black" href="{% url 'delete_image' image.id %}">Delete</a>
        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-black" class>Back</a>
        <a class="edit-button btn btn-white border-black" href="{% url 'edit_image' image.id %}">Edit</a>
    </div>
    {% else %}
    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-black" class>Back</a>
    {% endif %}
</section>
{% endblock %}