<div class="card" style="width: 18rem;">
    <a href="{% url 'dooddle_page' doodle.id %}" class="card-link">

        <img src="/media/{{ doodle.image }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ doodle.name }}</h5>
            <p class="card-price"></p>
            <div class="table-responsive">
                <table class="table table-sm table-borderless">
                    <tbody>
                        <tr>
                            <th class="card-price">${{ doodle.price }}</th>
                            <td class="w-75 text-end">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="w-50 text-end"><i class="fas fa-ruler-vertical"></i></td>
                                            <td class="w-25 card-size">{{ doodle.size }} cm<sup>2</sup></td>
                                        </tr>
                                        <tr>
                                            <th class="w-50 text-end"><i class="fas fa-clock"></i></th>
                                            <td class="w-25 card-time">{{ doodle.time_to_complete }} hours</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </a>
    {% if request.user.is_superuser %}
    <div class="editor-buttons px-3 py-2">
        <a class="delete-button" href="{% url 'delete_doodle' doodle.id %}">Delete</a>
        <a class="edit-button" href="{% url 'edit_doodle' doodle.id %}">Edit</a>
    </div>
    {% endif %}
</div>