{% extends "base.html" %}
{% load static %}

{% block page_content %}
<section class="doodle-section container-xxl index-section mt-4">
    <form class="form" action="{% url 'add_custom_to_cart' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="row mx-1">
                    <div class="col-12">
                        <img src="{{ MEDIA_URL }}custom_front.png" alt="Custom image" class="custom-img">
                    </div>
                </div>
            </div>

            <div class="col-md-6 mt-1 pt-md-5 px-4">
                <h1 class="doodle-name mb-3">Custom</h1>
                <h4 class="doodle-price mb-md-3 mb-sm-3" id="custom-price">$ XX.XX</h4>
                <p class="doodle-description">
                    Your custom work on any work style and size you prefer <br>
                    Select your options to update the final price
                </p>

                <div class="type-container">
                    <div class="option-title">Work type:</div>
                    {% for type in work_types %}
                    <input type="radio" id="{{ type.name_no_space }}" name="work_type" value="{{ type.work_type }}"
                        data-type-price="{{ type.price_type }}" {% if forloop.counter == 1 %} checked {% endif %}>
                    <label for="{{ type.name_no_space }}">{{ type.work_type }}</label><br>
                    {% endfor %}
                </div>

                <div class="size-container">
                    <label for="size" class="option-title">Size:</label>
                    <select name="size" id="size" class="size-select">
                        {% for option in sizes %}
                        <option value="{{ option.price_size }}" data-size-price="{{ option.price_size }}"
                            {% if forloop.counter == 1 %} selected {% endif %}>{{ option.size }}
                        </option>
                        {% endfor %}
                    </select><span>cm<sup>2</sup></span>
                </div>

                <div class="file-container">
                    <label for="user-image" class="option-title">Upload your reference image: </label><span
                        class="muted"> (jpeg or png)</span>
                    <input type="file" id="user-image" name="user_image" accept="image/png, image/jpeg" required>
                </div>
                <input type="text" id="total-price" name="total_price" value="00.00" class="hide">

                <div class="purchase-buttons mt-5">
                    <button type="submit" class="btn btn-black">Add to cart</button>
                </div>
            </div>
        </div>
    </form>
</section>

<section class="doodles-section container-xxl index-section">
    <h1 class="m-auto">You may also like</h1>
    <div class="doodle-cards">
        {% for doodle in doodles|slice:":4" %}
            {% include 'includes/card.html' %}
        {% endfor %}
    </div>
</section>
{% endblock %}

{% block body_js %}
{{ block.super }}
<script src="{% static 'custom/js/custom.js' %}"></script>
{% endblock %}