{% load static %}

<!doctype html>
<html lang="en">

<head>
    <title>Tatzy Tattoo {% block extra_title %} {% endblock %}</title>

    <!-- Meta tags -->
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    <!-- CSS -->
    {% block corecss %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    <!-- Scripts -->
    {% block corejs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

</head>

<body>

    <header class="container-fluid px-0">
        <div class="search-drawer search-colapse">
            <div class="search-content">
                <form method="GET" action="{% url 'search' %}">
                    <div class="input-group search-group">
                        <input class="form-control" type="text" name="q" placeholder="Search">
                        <div class="input-group-append">
                            <button class="form-control btn" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
                <button class="btn" type="submit">
                    <span class="icon" id="search-close">
                        <i class="fas fa-times"></i>
                    </span>
                </button>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container-fluid d-flex justify-content-between">
                <div class="hamburger-icon">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="logo text-center">
                    <a class="navbar-brand mx-auto" href="{% url 'home' %}">Tatzy Tattoo</a>
                </div>
                <div class="header-icons text-end">
                    <a class="nav-icons" href="#" id="search-icon" ><i class="fas fa-search"></i></a>
                    {% if request.user.is_authenticated %}
                    <a class="nav-icons" href="#"><i class="fas fa-user"></i></a>
                    <!-- <a class="nav-link" href="">Profile</a> -->
                    {% else %}
                    <a class="nav-icons" href="#"><i class="fas fa-user"></i></a>
                    <!-- <a class="nav-link" href="{% url 'account_login' %}">Login</a> -->
                    {% endif %}
                    <div class="cart-icon__container">
                        <a class="nav-icons" id="cart-icon" href="{% url 'cart' %}"><i class="fas fa-shopping-cart"></i></a>
                        {% if cart_items %}
                             <div class="cart-buble">
                            <div class="cart-counter">{{ cart_items_count }}</div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="container-fluid w-100 menu">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Custom</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'doodles' %}">Doodles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                        <!-- {% if request.user.is_superuser %} -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle management-link" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Management
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Manage Doodles</a></li>
                                <li><a class="dropdown-item" href="#">Manage Gallery</a></li>
                            </ul>
                        </li>
                        <!-- {% endif %} -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    {% if messages %}
    <div class="message-container">

    </div>
    {% endif %}

    {% block extra_header %}
    {% endblock %}
    
    <div class="page_content">
        {% block page_content %}
        {% endblock %}
    </div>

    {% block body_js %}
    {% endblock %}


    <footer class="footer">
        <div class="footer-items">
            <div class="footer-info">
                <p>© 2021, Tatzy Tattoo</p>
                <p>Design by: Pedro Cantarelli</p>
            </div>
            <div class="social-icons">
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </footer>
    
    <script src="{% static 'js/base.js' %}"></script>

</body>

</html>